{% extends 'base.html' %}
{% block content %}
    {% if order %}
        {% for i in order %}
            <p>{{ i.merchant_name }}</p>
        {%  endfor %}
    {% endif %}

        <table class="table table-hover table-dark">
            <thead>
            <tr>
                <th scope="col">Merchant name</th>
                <th scope="col">Merchant Invoice Id</th>
                <th scope="col">Product Type</th>
                <th scope="col">Weight</th>
                <th scope="col">Division</th>
                <th scope="col">District</th>
                <th scope="col">Thana</th>
                <th scope="col">Charge</th>
                <th scope="col">Cash On Delivery Charge</th>
                <th scope="col">Return Charge</th>
            </tr>
            </thead>
            <tbody>
            {% for i in o|dictsortreversed:"id"|slice:'1' %}
                <tr class="{% cycle 'row1' 'row2' %}" style="background-color: crimson">
                <td>{{ i.merchant_name }}</td>
                <td>{{ i.merchant_invoice_id }}</td>
                    <td>{{ i.Product_type }}</td>
                    <td>{{ i.weight }}</td>
                    <td>{{ i.Division }}</td>
                    <td>{{ i.District }}</td>
                    <td>{{ i.Street }}</td>
                    <td>{{ i.Charge }}</td>
                    <td>{{ i.Cod_charge_add }}</td>
                    <td>{{ i.return_charge_add }}</td>


                </tr>
            {% endfor %}
            {% for i in o|dictsortreversed:"id"|slice:"1:"%}
                <tr>
                    <td>{{ i.merchant_name }}</td>
                    <td>{{ i.merchant_invoice_id }}</td>
                    <td>{{ i.Product_type }}</td>
                    <td>{{ i.weight }}</td>
                    <td>{{ i.Division }}</td>
                    <td>{{ i.District }}</td>
                    <td>{{ i.Street }}</td>
                    <td>{{ i.Charge }}</td>
                    <td>{{ i.Cod_charge_add }}</td>
                    <td>{{ i.return_charge_add }}</td>


                </tr>
            {% endfor %}

            </tbody>
        </table>


{% endblock content %}