{% extends 'base.html' %}
{% block content %}
    <h3>Create Order:</h3>
    <hr>
    <form method="post">
    {% csrf_token %}

        <div class="row">
            <div class="form-group col-md-4">
                <label for="inputState">Merchants:</label>
                <select id="merchant" name="merchant" class="form-control">
                    {%  for i in m %}
                    <option value="{{ i }}" selected>{{ i.name }}</option>
                    {% endfor %}

                </select>
            </div>
            <div class="col-sm-4">
                <label for="inputState">Product Type:</label>
                <select id="type" name="type" class="form-control">
                    <option selected>Fragile</option>
                    <option>Liquid</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">Weight(kg):</label>
                <select id="weight" name="weight" class="form-control">
                    <option value="0.5" selected>0.5</option>
                    {%  for i in l %}
                        <option value="{{ i }}" selected>{{ i }}</option>
                    {% endfor %}

                </select>
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputState">Division</label>
                <select name="division" id="inputState" class="form-control">
                    {%  for i in division %}
                    <option selected>{{ i }}</option>
                    {%  endfor %}

                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">District</label>
                <select name="district" id="inputState" class="form-control">
                    {%  for i in district %}
                        <option selected>{{ i }}</option>
                    {%  endfor %}

                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="inputZip">Thana</label>
                <input name="thana" type="text" class="form-control" id="inputZip">
            </div>
        </div>
        <div class="form-group col-md-5">
            <label>Merchants Invoice Id</label>
            <input type="text" name="m_id" class="form-control"  >
        </div>

        <button type="submit" name="submit" class="btn btn-primary">Sign in</button>
    </form>
    <a href="{% url 'orderlist' %}">see order list</a>


    <div class="container">
        <h4>Charges according to Loaction</h4>
        <table class="table table-bordered table-sm">
            <thead>
            <tr>
                <th colspan="2">Outside Dhaka Division</th>
                <th colspan="4">Inside Dhaka Division</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Weight</th>
                <th>Charge</th>

                <th colspan="2">Inside District of dhaka</th>
                <th colspan="2">Outside district of dhaka</th>

            </tr>
            <tr>
                <td>500 gm~2kg </td>
                <td>130 Tk</td>

                <th>Weight</th>
                <th>Charge</th>
                <th>Weight</th>
                <th>Charge</th>

            </tr>
            <tr>
                <td> 3 kg</td>
                <td>150 Tk</td>
                <td>500 gm~2kg </td>
                <td>60 Tk</td>
                <td>500 gm~2kg </td>
                <td>110 Tk</td>

            </tr>
            <tr>
                <td> 4 kg</td>
                <td>170 Tk</td>
                <td>3 Kg</td>
                <td>70 Tk</td>
                <td>3 Kg</td>
                <td>130 Tk</td>

            </tr>
            <tr>
                <td> 5 kg</td>
                <td>190 Tk</td>
                <td>4 Kg</td>
                <td>80 Tk</td>
                <td>4 kg</td>
                <td>150 Tk</td>

            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>5 Kg</td>
                <td>90 Tk</td>
                <td>5 kg</td>
                <td>170 Tk</td>

            </tr>
            </tbody>
        </table>
        <label for="inputZip">Note:</label>
        <p>* Outside of Dhaka District :- Cash On Delivery Charge  1%  and Return Charge 50% will be added </p>

    </div>



{% endblock %}